<p>
  <h2><strong><%= @restaurant.name %></strong></h2>

</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @restaurant.phone_number %>
</p>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>

<%= link_to 'Back', restaurants_path %>
